RSAAuthentication yes
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
AuthorizedKeysCommand /usr/local/bin/authorized-keys.sh
PasswordAuthentication no
Subsystem sftp /usr/lib/ssh/sftp-server
